#chartjsexample {
    /* margin: auto; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 65%;
    min-width: 400px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

#myChart {
    min-width: 400px;
    width: 95%;
    height: 100%;
}