/* estilo da tela inteira */
html,
body {
  height: 100%;
  margin: 0;
}

/* .input-pers{
  width: 40%;
  background-color: #000000;
} */

/* estilo da div principal */
#tela-principal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* estilo do menu esquerdo */
#menu-navegacao {
  width: 15%;
  height: 100%;
  background-color: #FEFEFE;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-navegacao #menu {
  width: 75%;
  height: 95%;
  border-radius: 5px;
  background-color: #000000;
  padding: 10px;
  box-sizing: border-box;
  /* border-radius: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#menu #logo{
  width: 100%;
  height: 20%;
  /* background-color: aqua; */
}

#menu #navs{
  width: 100%;
  height: 80%;
  /* background-color: #670bb3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#menu #navs .menus{
  border-radius: 10px;
  height: 50px;
  background-color: #FFFFFF;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 14px;
  transition: background 0.5s;
}


#menu #navs .menus:hover{
  cursor: pointer;
  background-color: #c9c2c2;

}

.desabilitado{
  background: #4F4B4B;
  border-radius: 10px;
  height: 50px;
  /* background-color: #9847db; */
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 15px;
}

.menus, .desabilitado{
  text-align: center;
  font-family: sans-serif;
}

#menu #navs .desabilitado:hover{
  cursor:not-allowed
}


#navs .desabilitado:hover{
  background: #312f2f;
}


/* estilo do conteúdo principal */
#principal-content {
  width: 100%;
  min-width: 1100px;
  height: 100%;
  background-color: #e7e2e2;
  overflow-y: auto;
  /* barra de rolagem automática */
}

/* estilo do cabeçalho */
#principal-content #pc-header {
  width: 100%;
  height: 230px;
  /* altura fixa */
  background-color: #FEFEFE;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

#pc-header h2{
  color: #000000;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

#pc-header h3{
  color: #807b7b;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}


#pc-header desc{
  color: #000000;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 2px;
}

#pc-header font {
  font-size: 28px;
  margin-bottom: 0px;
}

#pc-header #pch-filtros {
  width: 910px;
  height: 90%;
  border-radius: 15px;
  background-color: #000000;
  box-sizing: border-box;
  padding: 3px;
  /* overflow: hidden; */
}

#pch-filtros #filtros {
  height: 65%;
  /* background-color: #151535; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#filtros #filtros1 {
  /* background-color: orange; */
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
}

#area{
  width: 250px;
}

#ies1{
  width: 410px;
}

#municipioies1{
  width: 200px;
}

#anoinicial{
  width: 115px;
}
#anofinal{
  width: 115px;
}

#ies2{
  width: 410px;
}

#municipioies2{
  width: 200px;
}


#filtros #filtros2 {
  height: 50%;
  width: 100%;
  /* background-color: rgb(225, 1, 255); */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
}

#pch-filtros #filtros-button {
  height: 35%;
  /* background-color: #7c0c31; */
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 15px;
  box-sizing: border-box;
  align-items: center;
}

#pch-filtros #filtros-button button {
  height: 70%;
  width: 40%;
  background-color: #FF642F;
  border: 0px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2px;
}

#pch-filtros #filtros-button button:hover {
  background-color: #dd4f20;
}

/* estilo do conteúdo com barra de rolagem */
#principal-content #pc-content {
  width: 100%;
  padding: 15px;
  /* espaço para o cabeçalho */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #e7e2e2;
}

#pc-content #grafico2 {
  margin: 15px;
  height: 320px;
  width: 32%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background-color:#FFFFFF;
  overflow: hidden;
}

#pc-content #grafico3 {
  margin: 15px;
  height: 320px;
  width: 40%;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: hidden;
}

#pc-content #grafico4 {
  margin: 15px;
  height: 320px;
  width: 32%;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: hidden;
}

#pc-content #grafico5 {
  margin: 15px;
  height: 320px;
  width: 32%;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  overflow: hidden;
}

#tutorial1{
  background: white;
  background-image: url(./tutorial1.svg);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#tutorial1 div{
  /* background-color: orange; */
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

#tutorial1 div button{
  background-color: #FF642F;
  border: 0px solid black;
  color: white;
  border-radius: 5px;
  transition: background 1s;
}

#tutorial1 div button:hover{
  background-color: #ce4a1e;
}


#tutorial1 div .pular{
  background-color: #D4D1D0;
  color: black;
  font-weight: bolder;
  transition: background 1s;
}
#tutorial1 div .pular:hover{
  background-color: #aaa6a4;
  color: black;
  font-weight: bolder;
}

#tutorial2{
  background: white;
  background-image: url(./tutorial2.svg);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#tutorial2 div{
  /* background-color: orange; */
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

#tutorial2 div button{
  background-color: #FF642F;
  border: 0px solid black;
  color: white;
  border-radius: 5px;
  transition: background 1s;
}

#tutorial2 div button:hover{
  background-color: #ce4a1e;
}


#tutorial2 div .pular{
  background-color: #D4D1D0;
  color: black;
  font-weight: bolder;
  transition: background 1s;
}
#tutorial2 div .pular:hover{
  background-color: #aaa6a4;
  color: black;
  font-weight: bolder;
}

#tutorial3{
  background: white;
  background-image: url(./tutorial3.svg);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

#tutorial3{
  background: white;
  background-image: url(./tutorial3.svg);
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#tutorial3 div{
  /* background-color: orange; */
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  display: flex;
  justify-content: right;
}

#tutorial3 div button{
  background-color: #FF642F;
  border: 0px solid black;
  color: white;
  border-radius: 5px;
  transition: background 1s;
}

#tutorial3 div button:hover{
  background-color: #ce4a1e;
}


#tutorial3 div .pular{
  background-color: #D4D1D0;
  color: black;
  font-weight: bolder;
  transition: background 1s;
}
#tutorial3 div .pular:hover{
  background-color: #aaa6a4;
  color: black;
  font-weight: bolder;
}

#tutorial4{
  background: white;
  height: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 150px;
  
}

#tutorial4 div{
  /* background-color: orange; */
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

#tutorial4 p{
  font-family: 'sans-serif';
  font-size: 23px;
  letter-spacing: 1px;
}

#tutorial4 div button{
  background-color: #FF642F;
  border: 0px solid black;
  color: white;
  border-radius: 5px;
  transition: background 1s;
}

#tutorial4 div button:hover{
  background-color: #ce4a1e;
}

#tutorial4 .nao{
  background-color: red;
  color: white;
}

#tutorial4 .nao:hover{
  background-color: rgb(168, 5, 5);
  color: white;
}