/* estilo da tela inteira */
html,
body {
  height: 100%;
  margin: 0;
}

/* .input-pers{
  width: 40%;
  background-color: #000000;
} */

/* estilo da div principal */
#tela-principal {
  display: flex;
  height: 100%;
}

/* estilo do menu esquerdo */
#menu-navegacao {
  width: 15%;
  height: 100%;
  background-color: #E3DFDF;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-navegacao #menu{
    width: 100%;
    height: 100%;
    background-color: #5665EF;
    /* border-radius: 50px; */
}

/* estilo do conteúdo principal */
#principal-content {
  width: 85%;
  min-width: 1100px;
  height: 100%;
  padding-left: 15%;
  background-color: #d4cfcf;
  overflow-y: auto; /* barra de rolagem automática */
}

/* estilo do cabeçalho */
#principal-content #pc-header {
  width: 85%;
  height: 250px; /* altura fixa */
  background-color: #E3DFDF;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px;
  box-sizing: border-box;
}

#pc-header font{
  font-size: 28px;
  margin-bottom: 0px;
}

#pc-header #pch-filtros{
  width: 1000px;
  height: 100%;
  border-radius: 15px;
  background-color: #000000;
  /* overflow: hidden; */
}

#pch-filtros #filtros{
  height: 78%;
  background-color: #151535;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}
#pch-filtros #filtros-button{
  height: 22%;
  /* background-color: #7c0c31; */
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 15px;
  box-sizing: border-box;
  align-items: center;
}

#pch-filtros #filtros-button button{
  height: 87%;
  width: 40%;
  background-color: #ffffff;
  border: 0px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 2px;
}

#pch-filtros #filtros-button button:hover{
  background-color: #a8a6a6;
}

/* estilo do conteúdo com barra de rolagem */
#principal-content #pc-content {
  width: 100%;
  padding: 15px;
  padding-top: 265px; /* espaço para o cabeçalho */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

#pc-content #grafico2{
    margin: 15px;
    height: 320px;
    width: 32%;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}
#pc-content #grafico3{
  margin: 15px;
  height: 320px;
  width: 40%;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}
#pc-content #grafico4{
  margin: 15px;
  height: 320px;
  width: 32%;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}